{% extends 'base.html' %}
{% block title %}{{ user_obj.username }}{% endblock %}
{% block menu %}
    {% if user.pk == request.user %}
        <li><a href="{% url 'accounts:detail' user_obj.pk %}">View</a></li>
        <li><a href="{% url "accounts:change_password" user.pk %}">Change Password</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>Edit Profile: {{ user.username }}</h1>
    <form method="post">
      {% csrf_token %}
{#        {% if user_obj.profile %}#}
      {{ user_form.as_p }}
{#        {% if user_obj.profile %}#}
        {{ profile_form.as_p }}
{#        {% endif %}#}
      <button type="submit">Save changes</button>
    </form>
{% endblock %}
